[Unit]
Description=MQTT Broker Service
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=~/live-plant-dashboard/sevices-for-central-server/mqtt
User=john
ExecStart=make up
ExecStop=make down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
