[Unit]
Description=Influx db Service
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=~/live-plant-dashboard/influxdb
User=john
ExecStart=make up
ExecStop=make down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
