[Unit]
Description=Plant Dashboard Service
After=network.target

[Service]
Type=simple
User=john
Group=docker
WorkingDirectory=/home/john/live-plant-dashboard/services-for-central-server
ExecStart=make up
ExecStop=make down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
